<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mimos</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/main.css"> 
    <script src="../scripts/produtosDB.js" defer type ="module"></script>
    <script src="../scripts/menuCarrossel.js" defer type ="module"></script>
    <script src="../scripts/header.js" defer type ="module"></script>
    <script src="../scripts/footer.js" defer type ="module"></script>
    <script src="../scripts/filtraProdutos.js" defer type ="module"></script>

</head>
<body>
    <header class="cabecalho">
        <div class="overlay overlay_desativado"></div>
        <div class="logo">
            <h1>MIMOS</h1>
            <p>CUIDADOS</p>
        </div>
        <ul class="lista__menu__aberto">
            <li><a href="#ultimos__lancamentos">Lançamentos</a></li>         
            <li><a href="#promocao_banner">Promoção</a></li>
            <li><a href="#news__letter__banner">News Letter</a></li>
        </ul>
        <div class="cabecalho_icons">
            <a href="#"><img class="cabecalho__icons__home" src="img/home.svg" alt="icone de coração"></a>
            <a href="#" class="cabecalho__icons__favoritos"><div class="numero__produtos__favoritos">0</div><img src="img/coracao.png" alt="icone de coração"></a>
            <a href="#" class="cabecalho__icons__sacola"><div class="numero__produtos__sacola">0</div><img src="img/bolsa.png" alt="icone de bolsa"></a>
            <a href="#" class="nome__usuario"><img class="cabecalho__icons__login" src="img/user.png" alt="icone de usuário"></a>
            <p class="logout hide">Logout</p>
            <input type="checkbox" id="menu" class="cabecalho_botao">
            <label for="menu" class="menu">
                <span class="cabecalho__menu-hamburguer"></span>
            </label>
            <ul class="lista-menu">
                <li class="lista-menu__itens"><a href="#ultimos__lancamentos">Lançamentos</a></li>
                <li class="lista-menu__itens"><a href="#promocao_banner">Promoção</a></li>
                <li class="lista-menu__itens"><a href="#news__letter__banner">News Letter</a></li>
            </ul>
        </div>
    </header>
    <section class="busca">
        <input type="search" class="busca__input" placeholder="Qual produto você procura?">
        <div class="busca__produto__filtrado">
            <!-- area de produtos filtrados pelo input buscar -->
        </div>
    </section>
    <div class="modal__sacola__container">
        <div class="modal__sacola">
            <p></p>
            <button class="modalBtn__sacola__close">Fechar</button> 
        </div>
    </div>    
    <section id="home" class=""> 
        <img src="./img/banner.png" class="home__background">
        <section class="carrossel__wrapper">
            <div class="carrossel">
                <div id="left" class="carrossel__seta left"><img src="img/seta_esquerda.png" alt="Ícone de seta esquerda" ></div>
                <div id="carrossel__menu" class="carrossel__container">
                    <img id="icone__maquiagem" class='carrossel_img' src="img/maquiagem.png" draggable="false" alt="Foto de olho maqueado">
                    <img id="icone__cabelos" class='carrossel_img' src="img/cabelos.png" draggable="false" alt="Foto de mulher com longos cabelos">
                    <img id="icone__perfumaria-feminina" class='carrossel_img' src="img/perfumaria_feminina.png" draggable="false" alt="Foto de mulher cheirando flores">
                    <img id="icone__perfumaria-masculina" class='carrossel_img' src="img/perfumaria_masculina.png" draggable="false" alt="Foto de homem cheirando flores">
                    <img id="icone__skincare" class='carrossel_img' src="img/skin_care.png" draggable="false" alt="Foto de homem passando creme no rosto">
                    <img id="icone__corpoebanho" class='carrossel_img' src="img/corpoEbanho.png" draggable="false" alt="Foto de pés dentro de uma banheira cheia de bolhas">
                </div>
                <div id="right" class="carrossel__seta"><img src="img/seta_direita.png" alt="Ícone de seta direita" ></div>
            </div>
        </section>
        <section id="busca__categorizada" class="hide">
            <div class="busca__categorizada__container"></div>
        </section>
            <section  id="ultimos__lancamentos" class="carrossel2__wrapper">
                <h1 class="titulo">Últimos lançamentos</h1>
                <div  class="carrossel2">
                        <div id="left" class="ultimos__lancamentos__carrossel__seta left"><img src="img/seta_esquerda.png" alt="Ícone de seta esquerda" ></div>
                        <div class="carrossel2__wrapper2">
                        <div id="carrossel__ultimos__lancamentos" class="carrossel2__container">
                            
                        </div>
                    </div>
                        <div id="right__carrossel2" class="ultimos__lancamentos__carrossel__seta"><img src="img/seta_direita.png" alt="Ícone de seta direita" ></div>
                </div>  
            </section>
            <div id="promocao_banner" class="promocao">
                <img src="./img/banner_promocao.png" alt="Banner com padrões de água verde">
            </div>
            <section class="carrossel2__wrapper carrossel__promocao">
                <div class="carrossel2">
                        <div id="left" class="promo__carrossel__seta left"><img src="img/seta_esquerda.png" alt="Ícone de seta esquerda" ></div>
                        <div class="carrossel2__wrapper2">
                        <div id="carrossel__promo" class="carrossel2__container carrossel3">
                            
                        </div>
                    </div>
                        <div id="right__carrossel2" class="promo__carrossel__seta"><img src="img/seta_direita.png" alt="Ícone de seta direita" ></div>
                </div>  
            </section>
            <section id="news__letter__banner" class="news__letter">
                <div class="news__letter__background">
                    <div class="news__letter__container">
                        <div class="news__letter__img">
                            <img src="img/banner_news_letter.png" alt="Rosto de mulher passando gloss">
                        </div>
                        <div class="news__letter__escritas">
                        <h1>NEWS<br>LETTER.</h1>
                        </div>
                    </div>
                    <div class="news__letter__form">
                        <p>Fique por dentro das novidades</p>
                        <form name="news__letter">
                            <input type="email" placeholder="Digite seu e-mail">
                            <button type="submit" name="enviar"  class="botao__form">Cadastre-se</button>
                        </form>
                    </div>
                </div>    
            </section>
    </section>
    <section class="favoritos hide">
        <h1>SEUS MIMOS MAIS QUERIDOS.</h1>
        <div class="favoritos__itens">

        </div>
    </section>
    <section id="sacola__id" class="sacola hide">
        <div class="sacola__itens">
          <p class="sacola__vazia">Sua Sacola está vazia!</p>  
        </div>
        <div class="sacola__finalizar">
            <div class="sacola__finalizar__subtotal">
                <h2>SubTotal</h2>
                <h2>R$ 0,00</h2>
            </div>
            <button class="finalizar__compra__sacola">FINALIZAR COMPRA</button>
        </div>
    </section>
    <footer>
        <div class="footer">
            <div class="footer__duvidas">
                <div class="footer__menu">
                    <h2>Dúvidas</h2>
                </div>
                <ul>
                    <li><a href="#">Perguntas Frequentes</a></li>
                    <li><a href="#">Formas de Pagamento</a></li>
                    <li><a href="#">Frete e Entrega</a></li>
                    <li><a href="#">Trocas e Devoluções</a></li>
                </ul>
            </div>
            <div class="footer__marcas">
                <div class="footer__menu" nhaiim="ihuu">
                    <h2>Marcas</h2>
                </div>
                <ul>
                    <li class=><a href="#">Água Perfumada</a></li>
                        <li class=><a href="#">Amor de Pele</a></li>
                        <li><a href="#">Make Make</a></li>
                    </ul>
                </div>
                <div class="foorter__relacionamento__cliente">
                    <div class="footer__menu">
                        <h2>Fale Conosco</h2>
                    </div>
                    <ul>
                        <li><a href="#">e-mail</a></li>
                        <li><a href="#">Whatsapp</a></li>
                        <li><a href="#">Telefone</a></li>
                    </ul>
                </div>
            </div>
            <div class="endereco">
                <p>Av. Senhor Fulano de Tal, 000 - Bairro Sicrana da Silva Sauro - BRASIL</p>
            </div>
    </footer>
    </body>

    </html>