<img src="./img/banner.png" class="home__background">
<section class="carrossel__wrapper">
    <div class="carrossel">
        <div id="left" class="carrossel__seta left"><img src="img/seta_esquerda.png" alt="Ícone de seta esquerda" ></div>
        <div id="carrossel__menu" class="carrossel__container">
            <img id="icone__maquiagem" class='carrossel_img' src="img/maquiagem.png" draggable="false" alt="Foto de olho maqueado">
            <img id="icone__cabelos" class='carrossel_img' src="img/cabelos.png" draggable="false" alt="Foto de mulher com longos cabelos">
            <img id="icone__perfumaria-feminina" class='carrossel_img' src="img/perfumaria_feminina.png" draggable="false" alt="Foto de mulher cheirando flores">
            <img id="icone__perfumaria-masculina" class='carrossel_img' src="img/perfumaria_masculina.png" draggable="false" alt="Foto de homem cheirando flores">
            <img id="icone__skincare" class='carrossel_img' src="img/skin_care.png" draggable="false" alt="Foto de homem passando creme no rosto">
            <img id="icone__corpoebanho" class='carrossel_img' src="img/corpoEbanho.png" draggable="false" alt="Foto de pés dentro de uma banheira cheia de bolhas">
        </div>
        <div id="right" class="carrossel__seta"><img src="img/seta_direita.png" alt="Ícone de seta direita" ></div>
    </div>
</section>
<section id="busca__categorizada" class="hide">
    <div class="busca__categorizada__container"></div>
</section>
    <section  id="ultimos__lancamentos" class="carrossel2__wrapper">
        <h1 class="titulo">Últimos lançamentos</h1>
        <div  class="carrossel2">
                <div id="left" class="ultimos__lancamentos__carrossel__seta left"><img src="img/seta_esquerda.png" alt="Ícone de seta esquerda" ></div>
                <div class="carrossel2__wrapper2">
                <div id="carrossel__ultimos__lancamentos" class="carrossel2__container">
                    
                </div>
            </div>
                <div id="right__carrossel2" class="ultimos__lancamentos__carrossel__seta"><img src="img/seta_direita.png" alt="Ícone de seta direita" ></div>
        </div>  
    </section>
    <div id="promocao_banner" class="promocao">
        <img src="./img/banner_promocao.png" alt="Banner com padrões de água verde">
    </div>
    <section class="carrossel2__wrapper carrossel__promocao">
        <div class="carrossel2">
                <div id="left" class="promo__carrossel__seta left"><img src="img/seta_esquerda.png" alt="Ícone de seta esquerda" ></div>
                <div class="carrossel2__wrapper2">
                <div id="carrossel__promo" class="carrossel2__container carrossel3">
                    
                </div>
            </div>
                <div id="right__carrossel2" class="promo__carrossel__seta"><img src="img/seta_direita.png" alt="Ícone de seta direita" ></div>
        </div>  
    </section>
    <section id="news__letter__banner" class="news__letter">
        <div class="news__letter__background">
            <div class="news__letter__container">
                <div class="news__letter__img">
                    <img src="img/banner_news_letter.png" alt="Rosto de mulher passando gloss">
                </div>
                <div class="news__letter__escritas">
                <h1>NEWS<br>LETTER.</h1>
                </div>
            </div>
            <div class="news__letter__form">
                <p>Fique por dentro das novidades</p>
                <form name="news__letter">
                    <input type="email" placeholder="Digite seu e-mail">
                    <button type="submit" name="enviar"  class="botao__form">Cadastre-se</button>
                </form>
            </div>
        </div>    
    </section>