<section id='login' class="login">
    <div class="login__container">
        <h1>Faça seu login e acompanhe seus pedidos.</h1>
        <form class="login__container" >
            <h2>IDENTIFIQUE-SE</h2>
            <fieldset class="login__campo">
                <label> E-mail:</label>
                <input type="email" name="email_login" placeholder='Digite o seu e-mail...' minlength="4" required>
                <span class="mensagem-erro"></span>
            </fieldset>
            <fieldset class='login__campo senha__icon__position'>
            <label> Senha: </label>
                <img id="icon__olho__login" src="./img/olho_closed.svg" alt="Icone de olho fechado">
                <input type="password" id="senha__login" name='senha_login' placeholder='Digite a sua senha...' minlength="6" required>
                <span class="mensagem-erro"></span>           
                <p>Esqueci minha senha</p>
            </fieldset>
            <input type="submit" value="ENTRAR" class="login__btn__entrar">
        </form>
        <button class="quero__cadastrar">QUERO ME CADASTRAR</button>
    </div>
</section>