.cadastro{
    margin: 80px auto 80px auto;
}

.cadastro__campo{
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.cadastro__etiqueta{
    display: flex;
    align-items: start;
    margin-bottom: 8px;
}

.cadastro__check{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input__check{
    max-height: 16px;
    display: flex;
    flex-direction: row;
    max-width: 30px;
}

.cadastro__campo p{
    text-align: left;
    font-size: 12px;
}
.cadastro__campo label{
    font-size: 14px;
}

.botao__form__cadastrar{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    
}


.botao__form__cadastrar input[value]{
    letter-spacing: 2px;
    color: var(--cor-de-fundo);
}

.botao__form__cadastrar button{
    max-width: 100%;
}

.senha__icon__position{
    position: relative;
}

#icon__olho, #icon__olho2, #icon__olho__login{
    width: 20px;
    position: absolute;
    
    cursor: pointer;
}

#icon__olho, #icon__olho2{
    top: 53%;
    right: 12px;
}

.mensagem-erro{
    color: red;
    font-weight: 300;
    font-size: 12px;
    display: flex;
    margin-top: 4px;
}

.cadastro__botao{
    background-color: var(--roxo);
    opacity: 0.8;
}

.cadastro__botao:hover{
    opacity: 1;
}

.cadastro__botao:disabled{
    opacity: 0.5;
    background-color: rgb(187, 186, 186);
}