.carrossel2__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cinza);
    padding: 20px 10px 0 0;
    height: 450px;
    max-width: 1400px;
    margin: 0 auto;

}

.titulo{
    margin-bottom: 40px;
    font-size: 32px;
    color: var(--roxo);
    font-weight: 400;
}

.carrossel2{
    max-width: 100%;
    white-space: nowrap;
    position: relative;
    height: 300px;
    
}

.carrossel2__wrapper2{
    overflow-x: hidden;
    padding: 0;
    
}

 .carrossel2__container{
    font-size: 0px;
    cursor: grab;
    overflow: hidden;
    overflow-x: scroll;
    width: 900px;
    scroll-behavior: auto;  
}


.ultimos__lancamentos__carrossel__seta{
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-de-fundo);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 46px;
    cursor:pointer;
}
.ultimos__lancamentos__carrossel__seta img{
    height: 20px;
    
}

.ultimos__lancamentos__carrossel__seta:first-child{
    left: -23px;
 
}
.ultimos__lancamentos__carrossel__seta:last-child{
    right: -23px;
    
}

.carrossel2__container::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa; 
    border-radius: 10px;
  }

 .carrossel2__container::-webkit-scrollbar-thumb {
    background: var(--roxo);
    border-radius: 10px;
  }

.produto{
    display: inline-block;
    text-align: center;
    border-radius: 12px;
    background-color: var(--rosa);
    /* width: calc(100%/4); */
    margin-left: 14px;
    width: 200px;
    transition: 0.5s;
    animation: fadeInText 0.7s 0.1s both;
}

.produto:first-child{
    margin-left: 0px;
}

.produto__img__container{
    height: 65%;
}

.produto__img{
    border-radius: 12px 12px 0 0;
    width: 100%;
    height: 100%;  
    object-fit: cover;  
}

.produto__infos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    padding: 10px 12px 12px 12px;
    height: 75px;
}

.produto__nome__favoritar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    color: var(--roxo);
}

.produto__nome__favoritar img{
    height: 28px;
    object-fit: auto;
    padding-right: 16px;
    transition: 0.5s;
}


.produto__nome__favoritar img:hover{
    opacity: 1;
    transform: scale(1.1);
}

.produto__nome__favoritar__desativado{
    opacity: 0.5;
}


.produto__infos-precos-botao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.produto__infos-precos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.produto__preco{
    font-weight: 600;
}
.produto__preco-antigo{
    text-decoration: line-through;
    font-size: 12px;
    color: var(--roxo);
}

.produto__botao{
    background-color: var(--roxo);
    border: none;
    color: var(--cor-de-fundo);
    padding: 4px;
    width: 90px;
    height: 30px;
    border-radius: 8px;
    opacity: 0.8;
    transition: 0.5s;
    font-size: 9px;
    cursor: pointer;
}

.produto__botao:hover{
    opacity: 1;

}

@media screen and (max-width: 900px){
    .produto{
        width: calc(100%/3);
        
    }
    .carrossel2__container{
        width: 100%;
    }
}


@media screen and (max-width: 550px){
    .produto{
        width: calc((100%/1));
    }
    .titulo{
        font-size: 24px;
    }
    .carrossel2__container{
        width: 260px;
    }

}

@keyframes fadeInText{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}