footer{
    text-align: center;
    margin: 0 auto;
    padding: 10px 0px;
    max-width: 1400px;
    background-color: var(--cinza-escuro);
    color: var(--cor-de-fundo);
}

.footer__menu{
    display: flex;
    border-bottom: 1px solid;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    
    opacity: 0.5;
}

.footer__menu:hover{
    opacity: 1;
}


.footer h2{
    padding-left: 50px ;
    font-size: 30px;
    width: 100%;
    
}

.footer img{
    width: 50px;   
}

.footer li{
    padding: 10px;
    font-weight: 200;
    opacity: 0.5;
}

.footer li:last-child{
    border-bottom: 1px solid;
}

.footer li:hover{
    opacity: 1;
}

.endereco{
    padding: 20px;
    font-weight: 200;
}